﻿<div>

    <div class="modal-header">
        <h3 class="modal-title">Confirmation</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you wish to do this?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
</div>