﻿<style>
    .Listdiv {
        height: 150px;
        overflow: scroll;
    }

    .btclose {
        margin-left: 320px;
    }
</style>
<section id="dashboard-view" class="mainbar" data-ng-controller="dashboard as vm">
    <div class="container">
        <div class="address-bar">
            <div class="col-md-1">
                <img height="46px" class="logo" src="../../Content/images/logo.png" />
            </div>
            <div class="col-md-11">
                <div class="form-group">
                    <label for="componentTypeId"><i class="fa fa-map-marker"></i></label>
                    <input type="text"
                           class="form-control input-lg"
                           ng-model="vm.selectedAddress"
                           data-animation="am-flip-x"
                           bs-options="address as address.Address for address in vm.getAddresses($viewValue)"
                           placeholder="Enter address"
                           bs-typeahead>
                    <button class="btn btn-primary" ng-click="vm.getaddress()">Locate</button>
                </div>

                <!--<div class="form-group">
                    <label for="componentTypeId"><i class="fa fa-map-marker"></i></label>
                    <select id="addressId" class="form-control input-lg" name="addressId"
                            ng-model="vm.selectedAddress" ng-change="vm.getaddress()"
                            ng-options="add as add.Name for add in vm.addresses">
                        <option>
                            {{add.Name}}
                        </option>
                    </select>

                </div>-->
                <!--<input type="text" id="my-address" name="my-address"  />-->
                <!--<div class="show-hide-animation" ng-if="vm.ispaging" style="margin-left: auto; margin-right: auto;width:50em;">
                    <div class="paginationDiv">
                        <div class="pagination-sm">
                            <ul id="visible-pages-example" class="pagination">
                                <li ng-show="vm.pagerData.HasPreviousPage" class="first"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.FirstPageIndex )">First</a></li>
                                <li ng-show="vm.pagerData.HasPreviousPage" class="prev"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.PreviousPageIndex)">Previous</a></li>
                                <li ng-repeat="page in vm.pageList"><a href="javascript:void(0)" ng-click="vm.pagination(page)">{{page}}</a></li>
                                <li ng-show="vm.pagerData.HasNextPage" class="next"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.NextPageIndex)">Next</a></li>
                                <li ng-show="vm.pagerData.HasNextPage" class="last"><a href="javascript:void(0)" ng-click="vm.pagination(vm.pagerData.LastPageIndex)">Last</a></li>
                            </ul>
                        </div>
                    </div>
                </div>-->


            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="form-group text-center" style="margin-top:20px;">
        <button class="btn btn-primary" ng-click="vm.locatePlaces()">Locate all places</button>
        <!--<button class="btn btn-primary" ng-click="vm.submit()" ng-disabled="!vm.disableSubmit"  >Submit Result</button>-->
        <button class="btn btn-primary" ng-click="vm.clear()">Clear Results</button>


        <div class={{vm.cssClass}} role="alert" ng-if="vm.message.length > 0">
            <!--data-dismiss="alert"-->
            <!--<button type="button" class="close"  ng-show={{vm.dismissAlert}}  aria-label="Close" ng-click="vm.hideAlert()"><span aria-hidden="true">&times;</span></button>-->
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class={{vm.cssClass}} ng-if="vm.message.length > 0"><strong>{{vm.message}}</strong></span>
        </div>


    </div>

    <div class="text-center"></div>
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="widget wred">
                        <div data-cc-widget-header title="Google Maps" allow-collapse="true">

                        </div>
                        <div style="position:absolute;top:24px;color:#fff;font-size:20px; left:250px;" ng-if="vm.googleMessage.length > 0">
                            <span><a ng-click="vm.showGoogleMessage()">{{vm.googleMessage}}</a></span>
                            <button class="btn btn-primary" ng-click="vm.gooleProcessFailedAddresses()" ng-if="vm.googleMessage.length > 0">Process</button>
                        </div>
                        <div class="widget-content text-center text-info">
                            <div id="map"></div>
                        </div>
                        <div class="widget-foot Listdiv">
                            <div class="clearfix">
                                <!--<div>Latitude : {{vm.googleLatitude}}</div>
                                <div>Longitude : {{vm.googleLongitude}}</div>-->

                                <ul class="list-group" id="googleCoords"></ul>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget wyellow">
                        <div data-cc-widget-header title="Bing Maps"
                             allow-collapse="true"></div>
                        <div style="position:absolute;top:24px;color:#fff;font-size:20px; left:250px;" ng-if="vm.bingMessage.length > 0">
                            <span><a ng-click="vm.showBingMessage()">{{vm.bingMessage}}</a></span>
                            <button class="btn btn-primary" ng-click="vm.bingProcessFailedAddresses()" ng-if="vm.bingMessage.length > 0">Process</button>
                        </div>
                        <div class="widget-content text-center text-info">
                            <div id='myMap' style="position:relative;"></div>
                        </div>
                        <div class="widget-foot Listdiv">
                            <div class="clearfix"></div>
                            <ul class="list-group">
                                <li ng-repeat="coord in vm.bingCoords" class="list-group-item">
                                    <div>Latitude : <label style="font:bold !important;"> {{coord.lat}}</label></div>
                                    <div>Longitude : <label style="font:bold !important;"> {{coord.lng}}</label></div>
                                    <div>Normalized Address : <label style="font:bold !important;display: initial;">{{coord.normalizedAddress}}</label></div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="col-md-12 widget" ng-if="vm.comparisonResult.length > 0">                  
                        <ul class="list-group comparison-data" id="comResult">
                        <li ng-repeat="coord in vm.comparisonResult" class="list-group-item" style="background:#f9f9f9;">
                            <div class="row">
                            <div class="col-md-4">
                                <div id="google">
                                    <h1>Google Address</h1>
                                    <div>Latitude : <label style="font:bold !important;"> {{coord.GoogleLatitude|number:5}}</label></div>
                                    <div>Longitude : <label style="font:bold !important;"> {{coord.GoogleLongitude|number:5}}</label></div>
                                    <div>Normalized Address : <label style="font:bold !important;display: initial;">{{coord.GoogleNormalizedAddress}}</label></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="bingo">
                                    <h1>Bing Address</h1>
                                    <div>Latitude : <label style="font:bold !important;"> {{coord.BingLatitude|number:5}}</label></div>
                                    <div>Longitude : <label style="font:bold !important;"> {{coord.BingLongitude|number:5}}</label></div>
                                    <div>Normalized Address : <label style="font:bold !important;display: initial;">{{coord.BingNormalizedAddress}}</label></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="compare">
                                    <h1>Distance(Meters)</h1>
                                    <div>Distance : <label style="font:bold !important;"> {{coord.DistanceBetweenpointsMeters|number:5}}</label></div>
                                </div>
                            </div>
                                </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</section>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBghgWzKGbAoLii9mgHs1S78fCInoazRxs&callback=initMap">
</script>
<script type="text/javascript">

    window.googleCoords = [];
    window.bingCoords = [];
    function initMap(addr) {
        return new Promise((resolve, reject) => {


            window.geocoder = new google.maps.Geocoder();
            if (addr) {
                function addPushpin() {
                    return function (coordinates) {
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 9,
                            center: coordinates
                        });

                        var marker = new google.maps.Marker({
                            position: coordinates,
                            map: map

                        });
                    }
                }
                codeAddress(addPushpin(), addr).then(res=> {
                    resolve();
                }, err=> {
                    reject();
                });
            }
        });
    }
    function initialize() {
        var address = (document.getElementById('my-address'));
        var autocomplete = new google.maps.places.Autocomplete(address);
        autocomplete.setTypes(['geocode']);
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                return;
            }


            if (place.address_components) {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }
        });
    }



    function codeAddress(callback, addr) {

        return new Promise((resolve, reject) => {

            function geoResult(results, status) {

                if (status == google.maps.GeocoderStatus.OK) {
                    document.getElementById("googleCoords").innerHTML = '';
                    if (results && results.length > 0) {
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 9,
                            center: latlng
                        });
                        var bounds = new google.maps.LatLngBounds();
                        for (var item = 0; item < results.length; item++) {

                            var latlng = new google.maps.LatLng(results[item].geometry.location.lat(), results[item].geometry.location.lng());
                            window.googleCoords.push({
                                id: addr.id,
                                lat: results[item].geometry.location.lat(),
                                lng: results[item].geometry.location.lng(),
                                normalizedAddress: results[item].formatted_address,// addr.address
                                address: results[item].address_components,
                                orderId: item + 1
                            });


                            var ul = document.getElementById("googleCoords");
                            var li = document.createElement("li");


                            //li.appendChild(document.createTextNode(`<div>Latitude : <label id="gooleLatitude" name="gooleLatitude" /> ${results[item].geometry.location.lat().toFixed(5)}</div>
                            //        <div>Longitude: <label id="gooleLongitude" name="gooleLongitude" /> ${results[item].geometry.location.lng().toFixed(5)}</div>
                            //        <div>Normalized Address: <label id="NormalizedAddress" style="display: initial;" name="NormalizedAddress" />${results[item].formatted_address}</div>`));

                            //document.getElementById("gooleLatitude").innerHTML = results[item].geometry.location.lat().toFixed(5);
                            //document.getElementById("gooleLongitude").innerHTML = results[item].geometry.location.lng().toFixed(5);
                            //document.getElementById("NormalizedAddress").innerHTML = results[item].formatted_address;//addr.address;


                            var linebreak = document.createElement('br');

                            var bold = document.createElement('b');


                            li.appendChild(document.createTextNode(`Latitude :
                            ${results[item].geometry.location.lat().toFixed(5)} `));

                            li.appendChild(linebreak);

                            li.appendChild(document.createTextNode(`Longitude :
                            ${results[item].geometry.location.lng().toFixed(5)} `));

                            var linebreak1 = document.createElement('br');
                            li.appendChild(linebreak1);

                            li.appendChild(document.createTextNode(`Normalized Address:
                            ${results[item].formatted_address} `));


                            //li.appendChild(document.createTextNode(`Latitude :
                            //${results[item].geometry.location.lat().toFixed(5)}


                            //    Longitude: ${results[item].geometry.location.lng().toFixed(5)}
                            //    Normalized Address: ${results[item].formatted_address};
                            //` ));





                            li.setAttribute("class", "list-group-item");
                            ul.appendChild(li);

                            var marker = new google.maps.Marker({
                                position: latlng,
                                map: map

                            });
                            bounds.extend(latlng);
                        }
                        map.fitBounds(bounds);
                        resolve();
                    }
                    else {
                        reject();
                        document.getElementById("googleCoords").innerHTML = '';
                        //document.getElementById("gooleLatitude").innerHTML = '';
                        //document.getElementById("gooleLongitude").innerHTML = '';
                        //document.getElementById("NormalizedAddress").innerHTML = addr.address;
                    }
                }
                else if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {
                    //  console.log("OVER_QUERY_LIMIT");
                    reject();
                }

                else {
                    //alert("Geocode was not successful for the following reason: " + status);
                    reject();
                }

            }

            window.geocoder.geocode({ 'address': addr.address }, geoResult);

        });
    }

    function googleMap(addr) {
        return new Promise((resolve, reject) => {
            initMap(addr).then(function () {
                resolve();
            }, function () {
                reject();
            });

        });
    }
</script>