﻿<style>
.Listdiv {
   
    height: 400px;
    overflow: scroll;
}
.btclose{
    margin-left:320px;
}
</style>

<div >

    <div class="modal-header">
        <h3 class="modal-title">Failed Messages <button ng-click="close()" class="btn btn-primary btclose" >Close</button></h3>
       
    </div>
    <div class="modal-body Listdiv">
       <div ng-repeat="address in missingAddress"  >
           <ul class="list-group">
               <li class="list-group-item">{{address.Id}}</li>
               <li class="list-group-item">{{address.Address}}</li>
           </ul>
       </div>
      
    </div>
   
</div>